<div class="row">
    <div class="col-12" style="display:flex">
        <div class="col-4"></div>
        <div class="col-4">
            <form *ngIf="ishowform == true" 

            #profileForm="ngForm" 

            (ngSubmit)="handleSubmit(profileForm.value)"  

            action="" method="POST" role="form">
           
                <legend>Thêm mới sinh viên</legend>

                <div class="form-group">
                    <label for="">name</label>
                    <input
                    #name="ngModel"
                    ngModel 
                    name="name"
                    required 
                    minlength="5" type="text" class="form-control"  placeholder="">
                </div>
                <span class="alert-danger" *ngIf="name.dirty && name.errors?.['required']">
                    Name is required
                </span>
                <div class="form-group">
                    <label for="">Age</label>
                    <input
                    #name="ngModel"
                    required 
                    ngModel 
                   name="age" type="text" class="form-control" id="" placeholder="">
                </div>

                <div class="form-group">
                    <label for="">Phone</label>
                    <input 
                    #name="ngModel"
                    required 
                    ngModel 
                    name="phone"  type="text" class="form-control" id="" placeholder="">
                </div>

                <div class="form-group">
                    <label for="">birthday</label>
                    <input
                    #name="ngModel"
                    required 
                    ngModel 
                    name="birthday"   type="text" class="form-control" id="" placeholder="">
                </div>

                <div class="form-group">
                    <label for="">gender</label>
                    <input
                    #name="ngModel"
                    required 
                    ngModel 
                    name="gender"  ngModel required   type="text" class="form-control" id="" placeholder="">
                </div>
                <button *ngIf="profileForm.valid" type="submit" class="btn btn-primary">Submit</button>
                <button   class="btn btn-warning" on-click="back()" type="button" >đóng lại</button>
            </form>
        </div>
    </div>
</div>
<br>
<span [ngSwitch]="ishowform">
    <button *ngSwitchCase="false" on-click="addNew()" type="button" class="btn btn-success">Thêm mới</button>
  
</span>
<table *ngIf="ishowform == false" class="table table-hover">
    <thead>
        <tr >
            <th>STT</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="students.length == 0">
            <td colspan="4">Không có dữ liệu</td>
        </tr>

        <tr *ngFor="let student of students; let i = index"
         app-students
          [input_student]="student"
           [input_i]="i"
            (handleDeleteItem)="deleteItem($event)">
        </tr>
    </tbody>
</table>